.Header {
    max-width: 1440px;
    width: 100%;

}
.Header__nav {
    margin-left: 90px;

    display: flex;
    align-items: flex-end;

    width: 100%;
    height: 4em;

}
.Header__nav a {
    margin-right: 47px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 24px;
}