:root {
  --dayColor: #fff;
  --hoverDayColor: #1c1c1c;
  --hoverDarkColor: #fff;
  --textDayColor: #1c1c1c;
  --textDarkColor: #fff;
  --activeDayColor: #fff;
  --activeDarkColor: #1c1c1c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--dayColor);
  color: var(--textDayColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  background-color: var(--hoverDayColor);
  color: var(--activeDayColor);
  padding: 2px 14px 4px 14px;
  border-radius: 0.4em;
}
  